* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background-image: url(../img/bg.jpg);
}

.nav {
  grid-area: nav;
  background-color: rgba(235, 13, 13, 0.564);
  border: solid 1px;
  h1 {
    font-size: calc(2vw + 2em);
    margin: 10px 0;
  }
}
.menu {
  grid-area: menu;
  background-color: rgba(240, 248, 255, 0.423);
  padding: 5px;
  border: solid 1px;
}

.main {
  grid-area: main;

  .main2 {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    div {
      border: solid 1px;
    }
    .img {
      grid-column: 1/4;
      grid-row: 1/3;

      img {
        width: 100%;
      }
      p {
        float: right;
      }
    }
    .noticiaSecundaria {
      img {
        width: 100%;
      }
    }
  }
}

.footer {
  grid-area: foot;
  background-color: rgba(0, 128, 0, 0.419);
  border: solid 1px;
}

.container {
  padding: 25px;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "nav nav nav nav nav nav"
    "menu menu menu menu menu menu"
    "main main main main main main"
    "foot foot foot foot foot foot";
}
.container > div {
  text-align: center;
}

@media (max-width: 700px) {
  .container {
    padding: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      "nav nav"
      "menu menu"
      "main main"
      "main main"
      "foot foot";
  }
  .main .main2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .img {
      grid-column: 1/3;
      display: grid;
      text-align: center;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    padding: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      "nav nav"
      "menu menu"
      "main main"
      "main main"
      "foot foot";
  }
  .main .main2 {
    display: grid;
    grid-template-columns: 1fr;
    .img {
      grid-column: 1/2;
      display: grid;
      text-align: center;
      img {
        width: 100%;
      }
    }
  }
}

/*-----------------------------------*/

nav{
  width: 100%;
  height: 40px;
}

.enlace{
  position: absolute;
}

nav ul{
  
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  margin: 0 10px;
}
nav ul li a{
  color: rgb(0, 0, 0);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 10px;
}

li a.active, li a:hover{
  background: #ffffff80;
  transition: .8s;
}

.checkbtn{
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}


@media (max-width: 952px){
  .enlace{
      padding-left: 20px;
  }
  nav ul li a{
      font-size: 12px;
  }
  
}

@media (max-width: 858px){
  .nav{
    height: 72%;
  }
  .checkbtn{
      display: block;
      position: absolute;
      bottom: 85%;
      left: 10%;
  }
  #container{
      position: fixed;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background-image: url(../img/bg.jpg);
      top: 0;
      left: 100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 30px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  li a:hover, li a.active{
          background: rgba(235, 13, 13, 0.564);
          transition: .8s;
          
      
  }
  #check:checked ~ ul{
      left: 0px;
      }
}
#check:checked ~ .checkbtn{
  visibility: hidden;
}